

<div class="text-center">
    <h4 class="text-right"><span class="badge badge-secondary"><!-- {{currentUser.table[0].nomb_user}} --> </span></h4>
</div>
<p>{{nombUser}}</p>
    
<div class="row">
    <div class="card mb-3" style="max-width: 20.5%; height: 20.5%;">
        <div class="card-header text-center">SOCIOS</div>
        <div class="card-body">
            <div class="text-center ">
                <img src="assets/img/app/socios.png" class="rounded" alt="...">
            </div>
            <div class="text-center">
                <button routerLink="/admin/socios" class="btn btn-danger my-2 my-sm-2" >Acceder</button>
            </div>
        </div>
    </div>
    
    <div class="card mb-3" style="max-width: 20.5%; height: 20.5%;">
        <div class="card-header text-center">CUENTAS CONTABLES</div>
        <div class="card-body">
            <div class="text-center ">
                <img src="assets/img/app/cuentas3.png" class="rounded" alt="...">
            </div>
            <div class="text-center">
                <button routerLink="/admin/cuentas" class="btn btn-danger my-2 my-sm-2" >Acceder</button>
            </div>
        </div>
    </div>
    <div class="card mb-3" style="max-width: 20.5%; height: 20.5%;">
        <div class="card-header text-center">LIBRO DIARIO</div>
        <div class="card-body">
            <div class="text-center ">
                <img src="assets/img/app/libdiario.png" class="rounded" alt="...">
            </div>
            <div class="text-center">
                <button routerLink="/admin/libdiario" class="btn btn-danger my-2 my-sm-2" >Acceder</button>
            </div>
        </div>
    </div>
   <!--  <div class="card mb-3" style="max-width: 20.5%; height: 20.5%;">
        <div class="card-header text-center">INGRESOS Y EGRESOS</div>
        <div class="card-body">
            <div class="text-center ">
                <img src="assets/img/app/ingresosyegresos.png" class="rounded" alt="...">
            </div>
            <div class="text-center">
                <button routerLink="/admin/ingresosyegresos"  class="btn btn-danger my-2 my-sm-2" >Acceder</button>
            </div>
        </div>
    </div> -->
    <div class="card mb-3" style="max-width: 20.5%; height: 20.5%;">
        <div class="card-header text-center">REPORTES</div>
        <div class="card-body">
            <div class="text-center">
                <img src="assets/img/app/reportes.png" class="rounded" alt="...">
            </div>
            <div class="text-center">
                <button routerLink="/admin/reportes" class="btn btn-danger my-2 my-sm-2" >Acceder</button>
            </div>
          
        </div>
    </div>
    <div class="card mb-3" style="max-width: 20.5%; height: 20.5%;">
        <div class="card-header text-center">DESGLOSE</div>
        <div class="card-body">
            <div class="text-center">
                <img src="assets/img/app/desglose2.png" class="rounded" alt="...">
            </div>
            <div class="text-center">
                <button class="btn btn-danger my-2 my-sm-2" >Acceder</button>
            </div>
          
        </div>
    </div>
   
  </div>
