<h1 class="text-center">{{AdminTitle}}</h1>

<div class="modal-footer">
    <button routerLink="add-ct" type="button" class="btn btn-danger" data-backdrop="static" data-keyboard="false">
        Nuevo
    </button>
    <button routerLink="show-ct" type="button" class="btn btn-danger" data-backdrop="static" data-keyboard="false">
        Listar
    </button>
    <button routerLink="search" type="button" class="btn btn-danger" data-backdrop="static" data-keyboard="false">
        Buscar
    </button>
    <button routerLink="/admin" type="button" class="btn btn-secondary" data-backdrop="static" data-keyboard="false">
        Regresar
    </button>
</div>



<router-outlet></router-outlet>
<!-- <app-show-ct></app-show-ct> -->